<div class="p-4">
  <form method="POST">
    <div class="form-group">
      <label for="search">Từ khoá</label>
      <input
        type="text"
        name="search"
        class="form-control"
        aria-describedby="search"
      />
    <button type="submit" class="btn btn-primary mt-2">Tìm kiếm</button>
  </form>
</div>